<!--This page displays event types for admin to select to view students registered for each event-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Choose Event</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/public/assets/style_events.css">
    </head>
    
    <body>
        <div class="card-container">
        <div class="card">
            <img src="/public/images/edu.jpg">
            <button><a href="/admin_viewedu.ejs"><b>EDUCATIONAL</b></a></button>
        </div>
        <div class="card">
            <img src="/public/images/cul.jpg">
            <button><a href="/admin_viewcul.ejs"><b>CULTURAL</b></a></button>
        </div>
        <div class="card">
            <img src="/public/images/spo.jpg">
            <button><a href="/admin_viewspo.ejs"><b>SPORTS</b></a></button>
        </div>
    </div>
    <p>
        <div>
            <a href="/"><button class="btn1"><b>GO TO HOME</b></button></a>
        </div>
    </p>
    </body>
</html>