<!--This page connects admin to login page after resetting password-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style_admin_home.css" type="text/css">
    <title>Login</title>
</head>

<body>
    <a href="/admin_login.ejs">
        <button type="button" class="big-button"><b>LOGIN</b></button>
    </a>
</body>
</html>