<!--This page displays different event types for admin to select to post event details-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/public/assets/style_events.css">
        <title>Add Event</title>
    </head>

    <body>

    <div class="card-container">

        <div class="card">
            <img src="/public/images/edu.jpg">
            <button><a href="/admin_eduevent.ejs"><b>EDUCATIONAL</b></a></button>
        </div>

        <div class="card">
            <img src="/public/images/cul.jpg">
            <button><a href="/admin_culevent.ejs"><b>CULTURAL</b></a></button>
        </div>

        <div class="card">
            <img src="/public/images/spo.jpg">
            <button><a href="/admin_spoevent.ejs"><b>SPORTS</b></a></button>
        </div>
    </div>
    
    <p>
        <div>
            <a href="/"><button class="btn1"><b>GO TO HOME</b></button></a>
        </div>
    </p>
    
    </body>
</html>