<!--This page allows admin to choose to post events or view students registered for different events-->
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post events or view students registered for events</title>
    <link rel="stylesheet" href="/public/assets/style_admin.css">
</head>

<body>
  
    <div class="container">
      <a href="/admin_addevent.ejs">
        <button class="button" type="button">POST UPCOMING EVENTS</button>

      </a>
    </div>

     <div class="container container--inverted">
  
       <a href="/admin_viewreg.ejs">
          <button class="button button--inverted" type="button">VIEW STUDENTS REGISTERED</button>
       </a>
  
  
    </div>
    <p>
      <div>
          <a href="/"><button class="btn1"><b>GO TO HOME</b></button></a>
      </div>
  </p>

</body>
</html>