<!--This page displays emails of students registered for educational events-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Emails</title>
    <link rel="stylesheet" href="/public/assets/style_admin_eduEmail.css" type="text/css">
    
</head>

<body>
    <h2 class="cap">Emails of Registered Students</h2>
        <table class="styled-table">
            
            <thead>
              <tr>
                
                <th scope="col" class="em">Email</th>
              </tr>
            </thead>
            <tbody>
            <%eventList.forEach(event => {%>
                <tr>
                    <td><%= event.email %></td>
                    
                </tr>
            <%})%>
            </tbody>
        </table>

    
    
</body>
</html>